---
import { Image } from "astro:assets";

const projects = [
  {
    title: "Fork of Gantt Chart Library",
    technologies: [
      "React",
      "Typescript",
      "Vite",
      "Github Actions",
      "open source",
    ],
    description:
      "A fork of MaTeMaTuK's Gantt Chart Library, with a focus on updating it for use in company and personal projects and improving it's build process by \
                  moving Vite, adding extended type support, and making improvements to the standard UI elements. \
                  This project was a great learning experience in how to work with open source projects, and how to contribute to them.",
    link: {
      url: "https://github.com/nikmaxott/gantt-task-react",
      text: "Github Repository",
    },
    image: {
      src: "https://github.com/user-attachments/assets/52dea11f-1066-4e08-a0f1-bc76a985db6a",
      alt: "Screenshot of the Gantt Chart Library",
    },
  },
  {
    title: "Django Blog and Library Project",
    technologies: [
      "Python",
      "Bulma",
      "Github Actions",
      "Gitlab Runners",
      "Azure",
    ],
    description:
      "Based on the MDN Django Tutorial this pair of apps is a foray into Python development, hosted on Azure Web Apps and deployed via both Github Actions and Gitlab Runners. Using Bulma UI for styling. Furthermore this process was outlined in a LinkedIn article.",
    link: {
      url: "https://www.linkedin.com/pulse/building-library-site-blog-azure-django-nikolaus-maxim-zolnhofer",
      text: "LinkedIn Article",
    },
    image: {
      src: "https://www.nikmaxott.org/wp-content/uploads/2023/09/Screenshot-2023-09-18-at-14-25-39-Django-Blog.png",
      alt: "Screenshot of a blog post in the Django Blog Project",
    },
  },
  {
    title: "Personal CV Site",
    technologies: ["Astro", "TailwindCSS", "Github Actions", "Javascript", "Angular"],
    description:
      "This site is built using Astro, a static site generator, and TailwindCSS for styling. It is deployed via Github Actions. This project was a great learning experience in how to work with Astro and TailwindCSS.\
      Originally built with Angular, but later migrated to Astro as it was a better fit for a simple static site. It also provided better internationalization options and increased performance.",
    link: {
      url: "https://cv.nikmaxott.org",
      text: "cv.nikmaxott.org",
    },
  },
];
---

<article title="My Projects" id="projects">
  <h2 class="text-xl mt-4 font-bold">My Projects</h2>
  {
    projects.map((project) => (
      <div class="mt-8 print:m-0">
        <h3 class="text-lg mt-4 italic">{project.title}</h3>
        <div class="hidden md:flex space-x-2 mt-2 print:m-0">
          {project.technologies.map((tech) => (
            <span class="bg-gray-500 px-2 rounded-full print:hidden">
              {tech}
            </span>
          ))}
        </div>
        <p class="mt-2">{project.description}</p>
        {project.link ? (
          <p class="print:m-0 mt-2">
            <a
              href={project.link.url}
              class="underline mr-1 mt-4"
              target="_blank"
              rel="noopener noreferrer"
            >
              {project.link.text}
            </a>
            <i class="ri-external-link-line print:hidden" />
          </p>
        ) : null}
        {project.image ? (
          <Image
            src={project.image.src}
            alt={project.image.alt}
            class="ml-auto mr-auto mt-8 print:hidden md:block hidden"
            width="640"
            inferSize={true}
          />
        ) : null}
      </div>
    ))
  }
</article>
