---
const projects = [
  {
    title: "Fork of Gantt Chart Library",
    technologies: ["React", "Vite", "Github Actions", "open source"],
    description:
      "Eine Fork von MaTeMaTuK's Gantt Chart Library, mit dem Ziel, sie für die Verwendung in Unternehmensprojekten zu aktualisieren \
    und ihren Build-Prozess zu verbessern, indem sie von microbundle auf Vite umgestellt wird, erweiterte Typunterstützung hinzufügt \
    und Verbesserungen an den Standard-Benutzeroberflächenelementen vornimmt. Dieses Projekt war eine großartige Lernerfahrung darin vor allem \
    Weil alle Änderungen in einem Open-Source-Projekt gemacht wurden.",
    link: {
      url: "https://github.com/nikmaxott/gantt-task-react",
      text: "Github Repository",
    },
    image: {
      src: "https://github.com/user-attachments/assets/52dea11f-1066-4e08-a0f1-bc76a985db6a",
      alt: "Screenshot of the Gantt Chart Library",
    },
  },
  {
    title: "Django Blog and Library Project",
    technologies: ["Python", "Bulma", "Github Actions", "Azure", "PostgreSQL"],
    description:
      "Basiert auf dem MDN Django Tutorial, dieses Paar von Apps ist ein Ausflug in die Python-Entwicklung, gehostet auf Azure Web Apps und bereitgestellt über sowohl Github Actions als auch Gitlab Runners. Verwendung von Bulma UI für das Styling. Darüber hinaus wurde dieser Prozess in einem LinkedIn-Artikel beschrieben.",
    link: {
      url: "https://www.linkedin.com/pulse/building-library-site-blog-azure-django-nikolaus-maxim-zolnhofer",
      text: "LinkedIn Artikel",
    },
    image: {
      src: "https://www.nikmaxott.org/wp-content/uploads/2023/09/Screenshot-2023-09-18-at-14-25-39-Django-Blog.png",
      alt: "Screenshot eines Blog-Posts im Django Blog Projekt",
    },
  },
  {
    title: "Personal CV Site",
    technologies: ["Astro", "TailwindCSS", "Github Actions", "Javascript"],
    description:
      "Ein Projekt gebaut mit Astro und TailwindCSS, das über Github Actions deployed wird. \
      Dieses Projekt war eine großartige Lernerfahrung, vor allem weil es ursprünglich mit Angular gebaut wurde, aber später zu Astro migriert wurde,\
       da es besser für eine einfache statische Website geeignet war und bessere Internationalisierungsmöglichkeiten bot.",
    link: {
      url: "https://cv.nikmaxott.org",
      text: "cv.nikmaxott.org",
    },
  },
];
---

<article title="My Projects" id="projects">
  <h2 class="text-xl mt-4 font-bold">My Projects</h2>
  {
    projects.map((project) => (
      <div class="mt-8 print:m-0">
        <h3 class="text-lg mt-4 italic">{project.title}</h3>
        <div class="hidden md:flex space-x-2 mt-2 print:m-0">
          {project.technologies.map((tech) => (
            <span class="bg-gray-500 px-2 rounded-full print:hidden">
              {tech}
            </span>
          ))}
        </div>
        <p class="mt-2">{project.description}</p>
        {project.link ? (
          <p class="print:m-0 mt-2">
            <a
              href={project.link.url}
              class="underline mr-1 mt-4"
              target="_blank"
              rel="noopener noreferrer"
            >
              {project.link.text}
            </a>
            <i class="ri-external-link-line print:hidden" />
          </p>
        ) : null}
        {project.image ? (
          <img
            src={project.image.src}
            width="640"
            class="ml-auto mr-auto mt-8 print:hidden md:block hidden"
            alt={project.image.alt}
          />
        ) : null}
      </div>
    ))
  }
</article>
